<section id="home" class="section hero-section">
    <div class="hero-content">
        <div class="hero-left">
            <div class="hero-image-container">
                <div class="hero-image">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="imgs/bot-profile.png" alt="Profile Picture">
                            </div>
                            <div class="back">
                                <img src="imgs/profile_image.jpeg" alt="Profile Picture">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-text">
                <h1>Luciano Almeida</h1>
                <p>Luca137 - Your friendly neighborhood AI Developer</p>
                <div class="separator"></div>
                <p>AI Development, Data & Prompt Engineering</p>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/lucianoaf8/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/lucianoaf8" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="mailto:luciano@luca137.com"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="hero-right">
            <h2>About Me</h2>
            <p>Hey there! I'm Luciano Almeida, a Business and Data Analyst who's genuinely passionate about data-driven decision-making and the latest tech. With a solid background in IT support, development, and data analysis. My journey in data analytics is all about constantly learning, solving problems, and applying data solutions that boost business success and efficiency.</p>
            <p>I'm diving deep into AI development, data engineering, and prompt engineering, always learning and mastering new tools and technologies. Whether it's building automation scripts, developing AI models, or optimizing data pipelines, I bring a detail-oriented and strategic approach to every project.</p>
            <div class="subsection">
                <h3>How Can I Help You?</h3>
                <p>Need a hand with your project? Look no further! I specialize in turning complex data into actionable insights and automating processes to make your work smoother. With solid skills in Python programming, data analysis, and prompt engineering, I can help you build cutting-edge AI applications, optimize data pipelines, and create smart automation solutions. Whether you're looking to develop a sophisticated AI model, visualize data to make strategic decisions, or streamline your workflows, I'm here to deliver innovative, high-quality results tailored just for you. Let's team up and take your project to the next level with the power of advanced technology and data-driven solutions!</p>
            </div>
        </div>
    </div>
</section>