<section id="portfolio" class="section">
    <h2>Portfolio</h2>
    <div class="portfolio-sections">
        <div class="projects-section">
            <h3>Projects</h3>
            <div class="project-list">
                <div class="project">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <h3>Finance Deep Analysis</h3>
                                <a href="https://github.com/lucianoaf8/finance-deep-analysis" target="_blank">View on GitHub</a>
                            </div>
                            <div class="back">
                                <h3>Finance Deep Analysis</h3>
                                <p>Description: N/A</p>
                                <p>Technologies: Python, Pandas</p>
                                <a href="https://github.com/lucianoaf8/finance-deep-analysis" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <h3>Plaid Finance Fetcher</h3>
                                <a href="https://github.com/lucianoaf8/plaid-finance-fetcher" target="_blank">View on GitHub</a>
                            </div>
                            <div class="back">
                                <h3>Plaid Finance Fetcher</h3>
                                <p>Description: N/A</p>
                                <p>Technologies: JavaScript, Plaid API</p>
                                <a href="https://github.com/lucianoaf8/plaid-finance-fetcher" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <h3>MBNA Statement Import</h3>
                                <a href="https://github.com/lucianoaf8/mbna-statement-import" target="_blank">View on GitHub</a>
                            </div>
                            <div class="back">
                                <h3>MBNA Statement Import</h3>
                                <p>Description: N/A</p>
                                <p>Technologies: Python, Selenium</p>
                                <a href="https://github.com/lucianoaf8/mbna-statement-import" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <h3>Screen Scrape</h3>
                                <a href="https://github.com/lucianoaf8/screen-scrape" target="_blank">View on GitHub</a>
                            </div>
                            <div class="back">
                                <h3>Screen Scrape</h3>
                                <p>Description: N/A</p>
                                <p>Technologies: Python, BeautifulSoup</p>
                                <a href="https://github.com/lucianoaf8/screen-scrape" target="_blank">View on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gpts-section">
            <h3>GPTs</h3>
            <div class="gpt-list">
                <div class="gpt">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <h4>FeatureEng-GPT</h4>
                                <p>Friendly feature engineering bot.</p>
                                <a href="https://chatgpt.com/g/g-KPwV9XZGv-featureeng-gpt" target="_blank">Try it out</a>
                            </div>
                            <div class="back">
                                <h4>FeatureEng-GPT</h4>
                                <p>Description: N/A</p>
                                <p>Technologies: GPT-3, Python</p>
                                <a href="https://chatgpt.com/g/g-KPwV9XZGv-featureeng-gpt" target="_blank">Try it out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gpt">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <h4>AI-GPT</h4>
                                <p>Helps create AI models and projects with expert guidance.</p>
                                <a href="https://chatgpt.com/g/g-vPeMWbO2f-ai-gpt" target="_blank">Try it out</a>
                            </div>
                            <div class="back">
                                <h4>AI-GPT</h4>
                                <p>Description: N/A</p>
                                <p>Technologies: GPT-3, Python</p>
                                <a href="https://chatgpt.com/g/g-vPeMWbO2f-ai-gpt" target="_blank">Try it out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gpt">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <h4>MysqlGPT</h4>
                                <p>User-friendly MySQL 8 expert offering database design, query creation, and optimization solutions.</p>
                                <a href="https://chatgpt.com/g/g-Vo23uO3jp-mysqlgpt" target="_blank">Try it out</a>
                            </div>
                            <div class="back">
                                <h4>MysqlGPT</h4>
                                <p>Description: N/A</p>
                                <p>Technologies: MySQL, Python</p>
                                <a href="https://chatgpt.com/g/g-Vo23uO3jp-mysqlgpt" target="_blank">Try it out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gpt">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <h4>PythonGPT</h4>
                                <p>Python coding expert providing comprehensive solutions and project structure guidance.</p>
                                <a href="https://chatgpt.com/g/g-UoHNGZJqK-pythongpt" target="_blank">Try it out</a>
                            </div>
                            <div class="back">
                                <h4>PythonGPT</h4>
                                <p>Description: N/A</p>
                                <p>Technologies: Python, GPT-3</p>
                                <a href="https://chatgpt.com/g/g-UoHNGZJqK-pythongpt" target="_blank">Try it out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="model-viewer"></div>
</section>