/* contact.css */

.contact-box {
    background-color: #0D1F26;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #4CE5D8;
}

form label {
    margin: 0.5rem 0;
    align-self: flex-start;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #4CE5D8;
    border-radius: 5px;
    background-color: #1C3B47;
    color: #4CE5D8;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    font-size: 1rem;
}

form input:hover,
form textarea:hover {
    border-color: #b8e4ff;
    background-color: #3b4e63;
}

form button {
    background-color: #4CE5D8;
    color: #0D1F26;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form button:hover {
    background-color: #7CEFFF;
    transform: scale(1.1);
    box-shadow: 0 0 20px #4CE5D8;
}