/* resume.css */

.resume-content {
    display: none;
    text-align: left;
    margin: 2rem auto;
    max-width: 800px;
    background-color: #0D1F26;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resume-content.visible {
    display: block;
}

.resume-content.hover-effect {
    transform: scale(1.02);
    box-shadow: 0 0 30px #4CE5D8;
}

.toggle-resume {
    background-color: #4CE5D8;
    color: #0D1F26;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-resume:hover {
    background-color: #7CEFFF;
    transform: scale(1.1);
    box-shadow: 0 0 20px #4CE5D8;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
}

.download-resume {
    background-color: #4CE5D8;
    color: #0D1F26;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.download-resume:hover {
    background-color: #7CEFFF;
    transform: scale(1.1);
    box-shadow: 0 0 20px #4CE5D8;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0D1F26;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    flex-direction: column;
}

.dropdown-content .format-option {
    color: #4CE5D8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdown-content .format-option:hover {
    background-color: #7CEFFF;
    color: #0D1F26;
    transform: scale(1.1);
    box-shadow: 0 0 20px #4CE5D8;
}