/* animations.css */

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px #4CE5D8;
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 40px #4CE5D8;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 20px #4CE5D8;
    }
}